.main {
	position: relative;
}

.top {
	display: flex;
	justify-content: center;
	position: relative;
	height: rem(30);
	&:global(.full) {
		height: rem(40);
		align-items: center;
	}
}

.title {
	padding: rem(2) 0px 0px 0px;
	font-size: rem(18);
	&:global(.full) {
		padding: 0px 0px 0px 0px;
	}
	&:global(.bold) {
		font-weight: 700;
	}
}

.arrow {
	position: absolute;
	bottom: 0;
	z-index: 2;
	translate: rem(-5) 0;
}

.bottom {
	height: rem(10);
}

.chart-btn {
	background: $color-second;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: rem(10);
	color: #fff;
	position: absolute;
	top: 50%;
	left: calc(100% + rem(15));
	translate: 0 -50%;
	width: rem(30);
	height: rem(30);
}
