.main {
	position: relative;
}

.top {
	display: flex;
	justify-content: center;
	position: relative;
	height: 30px;
	&:global(.full) {
		height: 40px;
		align-items: center;
	}
}

.title {
	padding: 2px 0px 0px 0px;
	font-size: 18px;
	&:global(.full) {
		padding: 0px 0px 0px 0px;
	}
	&:global(.bold) {
		font-weight: 700;
	}
}

.arrow {
	position: absolute;
	bottom: 0;
	z-index: 2;
	translate: rem(-5) 0;
}

.bottom {
	height: 10px;
}

.chart-btn {
	background: $color-second;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: calc(100% + 15px);
	translate: 0 -50%;
	width: 30px;
	height: 30px;
}
