.main {
	padding: rem(50) 0px 0px 0px;
}

.body {
	padding: 0px rem(40);
}

.title {
	line-height: normal;
	margin: 0px 0px rem(90) 0px;
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: rem(60) rem(45);
	margin: 0px 0px rem(154) 0px;
}
