.main {
	margin: 0px 0px 30px 0px;
}

.title {
	padding: 40px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
}

.start {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.all {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.btn {
	display: flex;
	align-items: center;
	gap: 20px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid $color-second;
	padding: 14px 20px;
	font-size: 20px;
	line-height: 1;
	&:global(.center) {
		justify-content: center;
	}
	&:global(.active) {
		background: $color-second;
		color: #fff;
		.icon {
			color: #fff;
		}
	}
}

.icon {
	width: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: $color-second;
}
