.label {
	color: #888;
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	margin: 0px 0px 5px 0px;
}

.error {
	color: $color-error;
	font-style: italic;
	font-size: 12px;
	&::first-letter {
		text-transform: uppercase;
	}
}
