.label {
	color: #888;
	font-weight: 400;
	font-size: rem(14);
	display: inline-block;
	margin: 0px 0px rem(5) 0px;
}

.error {
	color: $color-error;
	font-style: italic;
	font-size: rem(12);
	&::first-letter {
		text-transform: uppercase;
	}
}