// Стилизация скроллбаров
@media (any-hover: hover) {
	::-webkit-scrollbar {
		width: px(10);
		height: px(10);
		display: none;
	}

	::-webkit-scrollbar-track {
		background: #eeeeee;
		box-shadow: 0 0 px(2) rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-thumb {
		background: $color-second;
		border-radius: px(5);
		border: px(2) solid #eeeeee;
		&:hover {
			background: $color-second;
		}
	}
}

html {
	position: relative;
	overflow-y: scroll;
}

#root {
	position: relative;
}

body {
	position: relative;
	color: $color-font;
	background: $color-body-background;
	height: auto;
	&.lock {
		overflow: hidden;
	}
}

#keyboard {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	z-index: 1000;

	&.numeric-keyboard {
		max-width: 500px;
		left: 50%;
		translate: -50% 0;
		.keyboard {
			position: relative;
			.keyboard-row:nth-child(1) {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.keyboard-row:nth-child(1) {
				.keyboard-button:not(:last-child) {
					display: none;
				}
			}
			.keyboard-row:nth-child(5) {
				.keyboard-button:not(:nth-child(3)) {
					display: none;
				}
			}
			.keyboard-row:nth-child(6) {
				display: none;
			}
		}
	}

	.keyboard-button {
		font-size: 40px;
		height: 2em;
		font-family: "Inter";
	}
}
