// Стилизация скроллбаров
@media (any-hover: hover) {
	::-webkit-scrollbar {
		width: px(10);
		height: px(10);
		display: none;
	}

	::-webkit-scrollbar-track {
		background: #eeeeee;
		box-shadow: 0 0 px(2) rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-thumb {
		background: $color-primary-light;
		border-radius: px(5);
		border: px(2) solid #eeeeee;
		&:hover {
			background: $color-primary;
		}
	}
}

html {
	position: relative;
	overflow-y: scroll;
}

#root {
	position: relative;
}

body {
	position: relative;
	color: $color-font;
	background: $color-body-background;
	height: auto;
	&.lock {
		overflow: hidden;
	}
}

#keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.keyboard-button {
		font-size: rem(40);
		height: 2em;
		font-family: "Inter";
	}
}
