.toast {
	position: fixed;
	width: rem(290);
	top: rem(80);
	right: rem(20);
	background: $color-primary;
	padding: rem(20) rem(15);
	border-radius: rem(10);
	border: rem(1) solid $color-primary-dark;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	translate: rem(50) 0;
	transition: all 0.3s ease 0s;

	&:global(.success) {
		background: #198754;
		border: rem(1) solid #074729;
	}
	
	&:global(.error) {
		background: #b81111;
		border: rem(1) solid #6e0000;
	}
	
	&:global(.warning) {
		background: #bd8e00;
		border: rem(1) solid #5d4500;
	}

	&:global(.active) {
		opacity: 1;
		visibility: visible;
		translate: 0 0;
	}
}

.close {
	position: absolute;
	top: rem(10);
	right: rem(10);
	display: inline-flex;
}

.icon {
	color: #fff;
	width: rem(10);
	height: rem(10);
}
