.main {
  position: relative;
  padding: 60px 120px 80px;
}

.title {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.label {
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-size: 24px;
}

.inputs {
  margin: 0px 0px 40px 0px;
}

.inputs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-label {
  font-size: 24px;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 0px 0px 40px 0px;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}