.block {
	display: grid;
	gap: rem(20);
}

.form {
	display: grid;
	gap: rem(20);
}

.section {
	display: grid;
	gap: rem(20);
	grid-template-columns: repeat(4, 1fr);
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: rem(20);
}

.reset {
	background: $color-error;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: $color-error;
			opacity: 0.9;
		}
	}
}