.label {
	color: #888;
	font-weight: 400;
	font-size: rem(14);
	display: inline-block;
	margin: 0px 0px rem(5) 0px;
}

.container {
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	font-size: rem(20);
	padding: rem(5) rem(15);
	height: rem(44);
	color: #000000;
	background: #ffffff;
	border: rem(1) solid $color-second;
	&:focus {
		border: rem(1) solid $color-focus;
	}
	&.error {
		border: rem(1) solid $color-error;
	}
	&.success {
		border: rem(1) solid $color-success;
	}
}
