.label {
	color: #888;
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	margin: 0px 0px 5px 0px;
}

.container {
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 5px 15px;
	height: 44px;
	color: #000000;
	background: #ffffff;
	border: 1px solid $color-second;
	&:focus {
		border: 1px solid $color-focus;
	}
	&.error {
		border: 1px solid $color-error;
	}
	&.success {
		border: 1px solid $color-success;
	}
}
