.loader {
	width: rem(250);
	height: rem(250);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	&:global(.process) {
		opacity: 1;
		visibility: visible;
	}
}

.icon-wrapper {
	scale: 0;
	transition: all 0.5s ease 0s;
	&:global(.process) {
		scale: 1;
	}
}

.icon {
	position: relative;
	width: rem(250);
	height: rem(250);
	color: $color-second;
	animation: spin 2s linear infinite;
	animation-play-state: paused;
	&:global(.process) {
		animation-play-state: running;
	}
}

.process {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: rem(26);
	color: $color-second;
	text-align: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
