.main {
	background: $color-second;
	padding: 13px 0px;
	display: grid;
	align-content: center;
	text-align: center;
	height: 304px;
}

.body {
	display: grid;
	gap: 20px;
	justify-items: center;
}

.title {
	color: #fff;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.button-container {
	position: relative;
	height: 200px;
	width: 100%;
}

.circle {
	position: absolute;
	top: rem(-14);
	left: 48%;
	translate: -50% 0;
	width: 150px;
	height: 150px;
}

.hand {
	position: absolute;
	top: 50px;
	left: 50%;
	translate: -50% 0;
	width: 100px;
	height: 100px;
}
