.main {
	background: $color-second;
	padding: rem(13) 0px;
	display: grid;
	align-content: center;
	text-align: center;
	height: rem(304);
}

.body {
	display: grid;
	gap: rem(20);
	justify-items: center;
}

.title {
	color: #fff;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.button-container {
	position: relative;
	height: rem(200);
	width: 100%;
}

.circle {
	position: absolute;
	top: rem(-14);
	left: 48%;
	translate: -50% 0;
	width: rem(150);
	height: rem(150);
}

.hand {
	position: absolute;
	top: rem(50);
	left: 50%;
	translate: -50% 0;
	width: 100px;
	height: 100px;
}
