.body {
	display: flex;
	gap: 30px;
}

.title {
	display: flex;
	align-items: center;
	gap: 30px;
	margin: 0px 0px 18px 0px;
}

.text {
	display: grid;
	gap: 15px;
	font-size: 20px;
}

.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-primary;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	color: $color-primary;
}
