.label {
	color: #888;
	font-weight: 400;
	font-size: rem(14);
	display: inline-block;
	margin: 0px 0px rem(5) 0px;
}

.input {
	display: block;
	width: 100%;
	font-size: rem(20);
	line-height: prc(20, 16);
	padding: rem(5) rem(20);
	height: rem(44);
	color: #000000;
	background: #ffffff;
	border: rem(1) solid $color-second;
	transition: border 0.3s ease 0s;
	&:focus {
		border: rem(1) solid $color-focus;
	}
	&.error {
		border: rem(1) solid $color-error;
	}
	&.success {
		border: rem(1) solid $color-success;
	}
}

.error {
	color: $color-error;
	font-style: italic;
	font-size: rem(12);
	&::first-letter {
		text-transform: uppercase;
	}
}
