.button {
	position: relative;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 24px;
	line-height: 1;
	padding: 5px 30px;
	height: 59px;
	background: $color-primary;
	color: #ffffff;
	border-radius: 10px;
	transition: opacity 0.3s;

	&:global(.small) {
		min-width: auto;
		white-space: nowrap;
		padding: 3px 15px;
		font-size: 18px;
		font-weight: 400;
		height: 32px;
		border-radius: 6px;
	}

	&:global(.big) {
		min-width: 300px;
	}

	&:global(.second) {
		background: $color-second;
	}

	&:global(.white) {
		background: #fff;
		border: 1px solid $color-second;
		color: #000;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&:focus {
		box-shadow: 0 0 0 1px $color-focus;
	}

	&:disabled {
		background: #ccc;
		cursor: default;
	}

	&::after {
		content: url("../../../assets/img/loading.gif");
		position: absolute;
		inset: 0;
		background: #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
	}

	&:global(.loading) {
		box-shadow: none;
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}
