.main {
	display: grid;
	grid-template-columns: auto 300px;
	gap: 50px;
}

.main-value {
	margin: 0px 0px 20px 0px;
}

.content-wrapper {
	height: 800px;
	overflow-x: hidden;
	overflow-y: auto;
	@extend %contentwrapper;
}

.content {
	font-size: 20px;

	:global(.daily) {
		b {
			font-weight: 700;
		}
	}

	:global(.norecommend) {
		margin: 20px 0px 10px 0px;
		color: $color-primary;
		font-size: 20px;
		font-weight: 700;
	}

	:global(.recommend) {
		margin: 20px 0px 10px 0px;
		color: $color-second;
		font-size: 20px;
		font-weight: 700;
	}

	ol,
	ul {
		font-size: 20px;
		padding: 0px 0px 0px 25px;
		margin: 10px 0px;
		li {
			position: relative;
			margin: 10px 0px;
			&::before {
				content: "";
				position: absolute;
				width: 6px;
				height: 6px;
				background: #000;
				top: 10px;
				left: -20px;
				border-radius: 50%;
			}
			ul {
				li {
					&::before {
						background: transparent;
						border: 1px solid #000;
						border-radius: 50%;
					}
					ul {
						li {
							&::before {
								content: "";
								top: 13px;
								height: 1px;
								background: #000;
								border: 1px solid #000;
								border-radius: unset;
							}
						}
					}
				}
			}
		}
	}
}
