.main {
	display: grid;
	grid-template-columns: auto rem(300);
	gap: rem(40);
}

.main-value {
	margin: 0px 0px rem(20) 0px;
}

.content-wrapper {
	height: rem(500);
	overflow-x: hidden;
	overflow-y: auto;
}

.content {
	font-size: rem(20);

	:global(.daily) {
		b {
			font-weight: 700;
		}
	}

	:global(.norecommend) {
		margin: rem(20) 0px rem(10) 0px;
		color: $color-primary;
		font-size: rem(20);
		font-weight: 700;
	}

	:global(.recommend) {
		margin: rem(20) 0px rem(10) 0px;
		color: $color-second;
		font-size: rem(20);
		font-weight: 700;
	}
}
