.main {
	display: grid;
	justify-items: center;
	gap: 40px;
	padding: 60px 120px;
}

.title {
	display: flex;
	align-items: center;
	gap: 30px;
	white-space: nowrap;
}

.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-primary;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	color: $color-primary;
}
