.main {
	position: relative;
	display: flex;
	justify-content: center;
	height: rem(250);
}

.btn {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: rem(42);
	width: rem(250);
	height: rem(250);
	color: #fff;
	background: $color-second;
	border-radius: 50%;
	scale: 1;
	transition: scale 0.5s ease 0s;
	&:global(.complete) {
		font-size: rem(36);
	}
	&:global(.active) {
		font-size: rem(150);
	}
	&:global(.close) {
		scale: 0;
	}
}

.loader {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% 0;
	width: rem(250);
	height: rem(250);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	&:global(.process) {
		opacity: 1;
		visibility: visible;
	}
}

.icon-wrapper {
	scale: 0;
	transition: all 0.5s ease 0s;
	&:global(.process) {
		scale: 1;
	}
}

.icon {
	position: relative;
	width: rem(250);
	height: rem(250);
	color: $color-second;
	animation: spin 2s linear infinite;
	animation-play-state: paused;
	&:global(.process) {
		animation-play-state: running;
	}
}

.counter {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: rem(150);
	color: $color-second;
	span {
		font-size: rem(36);
	}
}

.process {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: rem(26);
	color: $color-second;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
