.main {
	display: grid;
	gap: 30px;
}

.section {
	display: grid;
	gap: 10px;
}

.title {
	font-size: 36px;
	font-weight: 500;
}

.datetime {
	font-size: 20px;
	span {
		color: $color-second;
	}
}

.step {
	font-size: 20px;
	span {
		color: $color-second;
	}
}

.sudtitle {
	font-size: 23px;
	font-weight: 600;
}

.message {
	font-size: 20px;
}

.progress {
	--progress: 0%;
	height: 40px;
	position: relative;
}

.progress-value {
	position: absolute;
	bottom: 15px;
	left: var(--progress);
	translate: rem(-10) 0;
	font-size: 24px;
}

.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	border-radius: 999px;
	border: 1px solid $color-second;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: var(--progress);
		height: 10px;
		border-radius: 999px;
		background: $color-second;
	}
}
