.block {
	max-width: rem(500);
}

.form {
	display: grid;
	gap: rem(20);
}

.radiobuttons {
	display: flex;
	flex-wrap: wrap;
	gap: rem(30);
}

.section {

}

.label {
	color: #888;
	font-weight: 400;
	font-size: rem(14);
	display: inline-block;
	margin: 0px 0px rem(10) 0px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	gap: rem(15);
}

.icon {
	transition: all 0.3s ease 0s;
	color: $color-primary-light;
	&:global(.checked) {
		color: $color-primary-dark;
	}
}