%transgradient {
	-webkit-mask-image: linear-gradient(to bottom, black 0%, black calc(100% - 100px), transparent 100%);
	mask-image: linear-gradient(to bottom, black 0%, black calc(100% - 100px), transparent 100%);
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	padding: 0px 0px 50px 0px;
}
