.main {
	background: #fff;
	border: 1px solid $color-second;
}

.button {
	position: relative;
	padding: 30px 30px 30px 65px;
	font-size: 20px;
	width: 100%;
	text-align: left;
	&:global(.active) {
		&:after {
			display: inline-block;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 30px;
		left: 30px;
		width: 25px;
		height: 25px;
		border: 1px solid $color-second;
		border-radius: 50%;
	}
	&::after {
		position: absolute;
		content: "";
		top: 37px;
		left: 37px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $color-second;
		display: none;
	}
}

.content {
	display: none;
	&:global(.active) {
		display: block;
	}
}
