.main {
	display: grid;
	grid-template-columns: auto 300px;
	gap: 50px;
}

.main-value {
	margin: 0px 0px 30px 0px;
}

.buttons {
	border-bottom: 1px solid $color-second;
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin: 0px 0px 20px 0px;
}

.btn {
	flex-grow: 1;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid $color-second;
	border-bottom: none;
	background: $color-second;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 15px 24px;
	&:global(.active) {
		background: transparent;
		color: $color-second;
	}
}

.content-wrapper {
}

.just-value {
	font-size: 18px;
	font-weight: 700;
	min-height: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}
