.main {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 20px;
	&:global(.has-title) {
		grid-template-columns: auto 1fr;
	}
}

.title {
	font-size: 20px;
	font-weight: 700;
	// &:global(.single) {
	// 	margin: 50px 0px 0px 0px;
	// }
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
}
