.title {
	margin: 0px 0px rem(40) 0px;
}

.items {
	display: grid;
	gap: rem(40);
	margin: 0px 0px rem(80) 0px;
}

.item {
	text-align: center;
}

.img {
	padding: rem(30) 0px 0px 0px;
	width: rem(400);
}

.label {
	margin: 0px 0px rem(10) 0px;
}
