.model {
}

.title {
	margin: 0px 0px 20px 0px;
}

.text {
	font-size: 20px;
}

.code {
	font-weight: 700;
	font-size: 24px;
}

.frame {
	display: flex;
	justify-content: center;
	align-items: center;
}
