.header {
	background: #fff;
	padding: 30px 0px;
	height: 216px;
}

.container {
	height: 100%;
}

.title {
	display: grid;
	text-align: center;
	gap: 10px;
	p {
		font-size: 24px;
	}
}

.body {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.logo {
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	width: 130px;
}
