.container {
	display: grid;
	gap: 30px;
}

.title {
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.reject {
	background: $color-error;
}

.confirm {
	background: $color-success;
}
