.steps {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 33px;
	margin: 0px 0px 80px 0px;
	&:global(.exam) {
		grid-template-columns: repeat(6, 1fr);

		.number::before {
			width: 36px;
		}
	}
}

.step {
	position: relative;
	z-index: 1;
	display: grid;
	justify-items: center;
	text-align: center;
	gap: 30px;
	&:last-child {
		.number::before {
			display: none;
		}
	}
}

.number {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	border: 1px solid $color-second;
	background: #fff;
	color: #000;
	font-size: 36px;
	border-radius: 50%;
	&:global(.active) {
		background: $color-second;
		color: #fff;
	}
	&::before {
		content: "";
		position: absolute;
		top: 45px;
		left: calc(100% + 15px);
		width: 68px;
		height: 1px;
		background: $color-second;
	}
}

.label {
	font-size: 20px;
	max-width: 170px;
}
