.wrapper {
	cursor: pointer;
	display: inline-flex;
}

.input {
	display: none;
}

.label {
	font-size: 20px;
	position: relative;
	display: inline-flex;
	padding: 0px 0px 0px 35px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #fff;
		border: 1px solid $color-second;
	}
	&::after {
		content: "";
		position: absolute;
		top: 8px;
		left: 8px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $color-second;
		border: 1px solid $color-second;
		scale: 0;
	}

	.input:checked + & {
		&::after {
			scale: 1;
		}
	}
}
