.wrapper {
	cursor: pointer;
	display: inline-flex;
}

.input {
	display: none;
}

.label {
	font-size: rem(20);
	position: relative;
	display: inline-flex;
	padding: 0px 0px 0px rem(35);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: rem(25);
		height: rem(25);
		border-radius: 50%;
		background: #fff;
		border: rem(1) solid $color-second;
	}
	&::after {
		content: "";
		position: absolute;
		top: rem(8);
		left: rem(8);
		width: rem(10);
		height: rem(10);
		border-radius: 50%;
		background: $color-second;
		border: rem(1) solid $color-second;
		scale: 0;
	}

	.input:checked + & {
		&::after {
			scale: 1;
		}
	}
}
