.modal {
	--transition-time: 0.3s;

	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity var(--transition-time),
		visibility var(--transition-time);

	&:global(.active) {
		opacity: 1;
		visibility: visible;
	}
}

.container {
	position: relative;
	max-width: 900px;
	margin: 50px auto;
	vertical-align: middle;
	background-color: #fff;
	cursor: default;
	text-align: left;
	box-shadow: 0px 0px rem(50) rem(5) rgba(0, 0, 0, 0.2);
}

.close {
	display: inline-flex;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.icon {
	width: rem(20);
	height: rem(20);
}
