.main {
	padding: 0px 0px rem(80) 0px;
}

.title {
	text-align: center;
	margin: 0px 0px rem(32) 0px;
}

.form {
}

.age-wrapper {
	width: rem(150);
}

.label {
	text-align: center;
	font-size: rem(20);
	margin: 0px 0px rem(30) 0px;
	span {
		font-weight: 700;
	}
}

.inputs {
	display: grid;
	gap: rem(10);
	margin: 0px 0px rem(30) 0px;
	input {
		max-width: rem(286);
	}
}

.row {
	display: grid;
	grid-template-columns: 45% 1fr;
	gap: rem(30);
	align-items: center;
}

.column {
}

.param {
	font-size: rem(24);
	text-align: right;
}

.datepicker-wrapper {
	width: rem(144);
}

.radios {
	padding: rem(22) 0px;
	display: flex;
	gap: rem(30);
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
}
