.main {
	display: grid;
	grid-template-columns: auto 300px;
	gap: 40px;
}

.main-value {
	margin: 0px 0px 50px 0px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.btn {
	border-radius: 10px;
	border: 1px solid $color-second;
	background: #fff;
	padding: 6px 20px;
}

.btn-head {
	min-height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0px 0px 15px 0px;
}

.btn-title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.btn-value {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 10px 0px;
}

.model {
	display: grid;
}

.report-btn {
	padding: 5px 15px;
	font-size: 20px;
}
