.title {
	margin: 0px 0px rem(40) 0px;
}

.img {
	text-align: center;
	margin: 0px 0px rem(46) 0px;
}

.complete {
	text-align: center;
	font-size: rem(30);
	span {
		font-weight: 700;
	}
}

.redy {
	padding: rem(64) 0px 0px 0px;
	font-size: rem(35);
	text-align: center;
}
