.typography {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0px 0px 20px 0px;
	}

	a {
		transition: all 0.3s ease 0s;
		color: $color-link;
		@media (any-hover: hover) {
			&:hover {
				color: $color-primary-dark;
			}
		}
	}

	p {
		margin: 0px 0px 20px 0px;
	}

	figure {
		display: inline-block;
		margin: 0px 0px 20px 0px;
		img {
			border-radius: 5px;
		}
	}

	ul {
		padding: 0px 0px 0px 22px;
		margin: 0px 0px 10px 0px;
		li {
			position: relative;
			line-height: 150%;
			margin: 0px 0px 10px 0px;
			& > ul,
			& > ol {
				padding-top: 10px;
			}
			&::before {
				content: "";
				position: absolute;
				top: em(9);
				left: em(-18);
				width: em(6);
				height: em(6);
				background: $color-primary-dark;
				border-radius: 50%;
			}
		}
	}

	ol {
		padding: 0px 0px 0px 22px;
		margin: 0px 0px 15px 0px;
		li {
			line-height: 150%;
			margin: 0px 0px 10px 0px;
			& > ul,
			& > ol {
				padding-top: 10px;
			}
		}
	}

	table {
		max-width: 100%;
		width: 100%;
		border-collapse: collapse;
		tr {
			th {
				background: #fff;
				padding: 15px;
				border: 1px solid $color-second;
				text-align: center;
				font-size: 20px;
				font-weight: 600;
				line-height: normal;
			}
			td {
				background: #fff;
				border: 1px solid $color-second;
				padding: 15px;
				font-size: 20px;
				line-height: normal;
			}
		}
	}

	.table-wrapper {
		width: 100%;
		overflow-x: auto;
	}
}
